<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Machine Learning Demo</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="\"><i class="fa fa-bar-chart-o fa-fw"></i> NIFTY 50 Analysis</a>
                        </li>
                        <li>
                            <a href="\twitter\sentiment\"><i class="fa fa-twitter fa-fw"></i> Twitter Sentiment Analysis</a>
                        </li>
                        <li>
                            <a href="chatbot.html"><i class="fa fa-comments fa-fw"></i> AI Chatbot</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">NIFTY 50 Analysis</h1>
                    <form name='filter' method="post" action="\">
                        {% csrf_token %}
                    <div class="pull-center">
                          <div class="form-group">
                              <label for="cmpy">Select Company:</label>
                              <select class="form-control" id="cmpy" name="cmpy_name" onChange="form.submit();">
                                  {% for d in cmpy_data %}
                                    <option value="{{ d.yahoo_sht }}" {% if d.yahoo_sht == current_ticker %}selected="selected"{% endif %}>
                                        {{ d.name|upper }}
                                    </option>
                                  {% endfor %}
                              </select>
                          </div>
                    </div>
                        <input id="filter" class="hidden" type="submit" value="Filter" />
                    </form>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Adj Closing Graph

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <img src="data:image/png;base64,{{ticker_graph|safe}}">
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>CandleStick Chart - OHLC Graph

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <img src="data:image/png;base64,{{ohlc_graph|safe}}">
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-info fa-fw"></i> Prediction(Adj Close)
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-shopping-basket fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">{{ predictions.sell }}</div>
                                                    <div>SELL STOCKS</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-cc-visa fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">{{ predictions.buy }}</div>
                                                    <div>BUY STOCKS</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-yellow">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-pause fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">{{ predictions.hold }}</div>
                                                    <div>HOLD STOCK</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-pencil-square-o fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">{{ confidence }}</div>
                                                    <div>Accuracy</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-database fa-fw"></i> Data Mined

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>High</th>
                                                    <th>Low</th>
                                                    <th>Open</th>
                                                    <th>Close</th>
                                                    <th>Adj Close</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for sd in stock_data %}
                                                <tr>
                                                    <td>{{ sd.record_date }}</td>
                                                    <td>{{ sd.high }}</td>
                                                    <td>{{ sd.low }}</td>
                                                    <td>{{ sd.open }}</td>
                                                    <td>{{ sd.close }}</td>
                                                    <td>{{ sd.adj_close }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->

                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



</body>
{% include 'footer.html' %}
</html>
