<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Machine Learning Demo</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="index.html"><i class="fa fa-bar-chart-o fa-fw"></i> NIFTY 50 Analysis</a>
                        </li>
                        <li>
                            <a href="twitter_analysis.html"><i class="fa fa-twitter fa-fw"></i> Twitter Sentiment Analysis</a>
                        </li>
                        <li>
                            <a href="chatbot.html"><i class="fa fa-comments fa-fw"></i> AI Chatbot</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Twitter Sentiment Analysis</h1>

                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Tweets

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tweets</th>
                                                    <th>Sentiment</th>
                                                    <th>Confidence</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for t in ts %}
                                                <tr>
                                                    <td>{{ t.tweets }}</td>
                                                    <td>{% if t.sentiment == 'neg'%}
                                                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                                        {% else %}<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                        : {{ t.sentiment }}
                                                        {% endif %}</td>
                                                    <td>{{ t.confidence }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->

                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



</body>
{% include 'footer.html' %}
</html>
